{% extends 'base.html' %}
{% block title %}Inicio{% endblock title %}
{% block content %}
<style>
    h1{
        color: #5b125b;
    }
    h3{
        color: rgb(40, 100, 196);
        text-align: center;
    }
    
</style>
<br>

<section>
    <p><h2>
        ¡Bienvenidos a RideSphere! Tu destino ideal para encontrar las mejores motos del mercado. Ya sea que estés buscando una moto deportiva, cruiser, nude o para ciudad, tenemos lo que necesitas para vivir la libertad sobre dos ruedas. Ofrecemos una amplia gama de modelos de las mejores marcas, con opciones para todos los gustos y presupuestos. Además, contamos con un equipo de expertos dispuestos a asesorarte y ayudarte a elegir la moto perfecta para ti. ¡Descubre la adrenalina y emoción que solo!</h3></p>
</section>
{% endblock content %} 